<footer class="jce-footer">
	<div class="container-fluid jce-shrink-lg">
		<div class="row">
			<div class="col-md-6 col-xs-6">
			    <h3>GET ON MY SOCIAL RADAR</h3>
			    <div class="ic_network"><i class="fa fa-github-square"></i> <a href="https://github.com/j-beatzz/" target="_blank">github.com/j-beatzz/</a></div>
			    <div class="ic_network"><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/Joshtheblackman" target="_blank">@joshtheblackman</a></div>
			</div>

			<div class="col-md-6 col-xs-6">
			    <h3>LET'S GET OFFICIAL</h3>
			    <div class="ic_network"><i class="fa fa-envelope"></i> <a href="mailto:leoiraborjoshua@yahoo.com">leoraborjoshua@yahoo.com</a></div>
			</div>
		</div>
		<div class="copyright"><p>Copyright © {{currentYear}} Joshua LEO-Irabor. Please don't steal me!</p></div>
	</div>
</footer>